
<div class="card">
  <div class="card-header">
    Friend Contacts Information
  </div>
  <div class="card-body">
    <h3 class="card-title"> <%= @friend.first_name %> <%= @friend.last_name %> </h5>
      <br>
    <h5 class="card-text">Contacts:</h5>
    <p><strong>Email:</strong> <%= @friend.email %></p>
    <p><strong>Phone:</strong> <%= @friend.phone %></p>
    <p><strong>Twitter:</strong> <%= @friend.twitter %></p>
    <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary" %> 
     <%= link_to "Back", friends_path, class:"btn btn-secondary" %>
    <%= link_to "Delete", @friend, class:"btn btn-danger", method: :delete %>
  </div>
</div>

